<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Restaurant Directory</title>
	<style>		
		body, html {
		  height: 100%;
		}
				
		.bg {
		  background-image: url(@{static/img/bg_img.jpg});
		
		  height: 100%;
		
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		
		a{
		  color: white;
		}
	</style>
</head>

<body>
<br>
<div class="container bg">

	<div class="h3">
		Welcome <span class="h3" sec:authentication="name"></span>
		<form class="float-right" style="display:inline;" action="#" th:action="@{/logout}" 
			   method="POST">	
			<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />		
		</form>
		<br>
	</div>
	<hr>
	<h3>Restaurant Directory</h3>
	<hr>
	
	<form th:action="@{/restaurants/search}" class="form-inline">
		<div style="width:100%;">
			<!-- Add a button -->
			<a sec:authorize="hasAnyRole('ROLE_INSPECTOR','ROLE_VIP')" th:href="@{/restaurants/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3">
				Add Restaurant
			</a>
			
			
			<button class="btn btn-success mb-3 float-right" type="submit">Search</button>
			<input style="margin:0;" class="form-control  ml-5 mr-sm-2 mb-3 float-right" type="search" 
			name="nameOrCity" placeholder="Search by name or city" />
		</div>
    </form>	
	
	
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th><a th:href="@{/restaurants/list(orderBy='name')}">Name</a></th>
				<th><a th:href="@{/restaurants/list(orderBy='city')}">City</a></th>
				<th>Web site</th>
				<th><a th:href="@{/restaurants/list(orderBy='rating')}">Rating</a></th>
				<th sec:authorize="hasAnyRole('ROLE_VIP','ROLE_INSPECTOR')">Details</th>				
				<th sec:authorize="hasAnyRole('ROLE_INSPECTOR')">Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempRestaurant : ${restaurants}">
			
				<td th:text="${tempRestaurant.name}" />
				<td th:text="${tempRestaurant.city}" />	
				<td><a href="#" class="btn" style="border:none;" th:text="${tempRestaurant.website}" /></td>
				<td th:text="${tempRestaurant.rating}" />		
				<td sec:authorize="hasAnyRole('ROLE_VIP','ROLE_INSPECTOR')" th:text="${tempRestaurant.details}" />	
				<td sec:authorize="hasAnyRole('ROLE_INSPECTOR')">
					<a th:href="@{/restaurants/showFormForUpdate(restaurantId=${tempRestaurant.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/restaurants/delete(restaurantId=${tempRestaurant.id})}"
						class="btn btn-danger btn-sm"
						onclick="if(!(confirm('Are you sure you want to delete this Restaurant?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
	<br>
	<br>
	
</div>
	
</body>
</html>



